NEXT_PUBLIC_SUPABASE_URL=postgresql://postgres.qqblmruqjymvqntnybte:M7e7cAGVrrkOheQ8@aws-0-eu-west-2.pooler.supabase.com:6543/postgres
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxYmxtcnVxanltdnFudG55YnRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzNDIyMTAsImV4cCI6MjEwNDkxODIxMH0.K5GPHR-7yuTscy6762Q1f0eIYU68elsBhrq_v4OblN4
